<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Manager</title>
    <link rel="stylesheet" href="/static/admin_panel_event_manager.css">
</head>
<body>
    <!-- admin navigation bar -->
    <nav class="admin-navbar">
        <ul>
            <li><a href="/admin_panel">Домой</a></li>
            <li><a href="/admin_panel/logs">Логи</a></li>
            <li><a href="/admin_panel/community">Модерация</a></li>
            <li><a href="/admin_panel/update_pages">Загрузка файлов</a></li>
            <li><a href="/admin_panel/event_manager">Управление событиями</a></li>
            <li><a href="/admin_panel/product_manager">Управление магазином</a></li>
            <li><a href="/admin_panel/logout">Выйти</a></li>
        </ul>
    </nav>

    <div class="form-container">
        <h1>Управление событиями</h1>
        <form id="event-form">
            <input type="text" id="event_id" placeholder="ID события">
            <button type="button" onclick="findEvent()">Найти событие</button>
            <input type="text" id="game_name" placeholder="Имя турнира">
            <input type="datetime-local" id="game_start_time" placeholder="Начало">
            <input type="datetime-local" id="game_end_time" placeholder="Конец">
            <input type="text" id="team1_name" placeholder="Команда 1">
            <input type="text" id="team2_name" placeholder="Команда 2">
            <input type="text" id="team1_score" placeholder="Счёт команды 1">
            <input type="text" id="team2_score" placeholder="Счёт команды 2">
            <input type="text" id="livestream_link" placeholder="Трансляция">
            <input type="text" id="video_link" placeholder="Видеообзоры">
            <input type="text" id="game_description" placeholder="Описание события">
            <input type="text" id="match_statistic_external_link" placeholder="Ссылка на статистику матча">
            <div class="button-container">
                <button type="button" onclick="downloadTickets()">Скачать все билеты</button>
                <button type="button" onclick="createGame()">Создать/Сохранить</button>
                <button type="button" onclick="clearInputs()">Очистить</button>
            </div>
        </form>
    </div>
    <script src="/static/admin_panel_event_manager.js"></script>
</body>
</html>
