body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/static/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #ff4747;
    overflow: hidden;
}

.registration-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-box {
    background-color: rgba(242, 242, 242, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ff4747;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #91e8b4;
}

.registration-btn {
    background-color: #ff4747;
    color: #f2f2f2;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
}

.registration-btn:hover {
    background-color: #d93b3b;
}

.password-container {
    position: relative;
    display: flex;
}

.password-container {
    position: relative;
    display: flex;
}

/* eye button */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: #ff4747;
    font-size: 25px;
    padding: 0;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: auto;
    background: none;
    border: none;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .registration-box {
        width: 90%;
        padding: 15px;
    }
}