<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Модерация</title>
    <link rel="stylesheet" href="/static/admin_panel_community.css">
</head>
<body>
    <!-- admin navigation bar -->
    <nav class="admin-navbar">
        <ul>
            <li><a href="/admin_panel">Домой</a></li>
            <li><a href="/admin_panel/logs">Логи</a></li>
            <li><a href="/admin_panel/requests">Запросы</a></li>
            <li><a href="/admin_panel/community">Модерация</a></li>
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Модерация</h1>
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
            <button onclick="findUserData()">Найти</button>
        </div>

        <div id="user-data-section" style="display: none;">
            <div class="form-group">
                <label for="user-id">ID:</label>
                <input type="text" id="user-id" name="user-id" readonly>
            </div>
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required oninput="limitInputLength(this, 32)">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="text" id="password" name="password" required oninput="limitInputLength(this, 32)">
            </div>

            <div class="button-container">
                <button onclick="updateUserData()">Обновить данные</button>
                <button onclick="deleteUser()">Удалить пользователя</button>
                <button onclick="pruneUser()">Очистить контент</button>
            </div>
        </div>
        
        <div id="result"></div>
    </div>

    <script>
        function limitInputLength(input, maxLength) {
            if (input.value.length > maxLength) {
                input.value = input.value.substring(0, maxLength);
            }
        }
        </script>        
    
    <script src="/static/admin_panel_community.js"></script>
</body>
</html>