<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body class="no-scroll">
    <div class="registration-container">
        <div class="registration-box">
            <h2 class="registration-title">Регистрация</h2>
            
            <div class="input-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" name="username" required oninput="limitInputLength(this, 32)">
            </div>
    
            <div class="input-group">
                <label for="password">Пароль</label>
                <div class="password-container">
                    <input type="password" id="password" name="password">
                    <button type="button" class="toggle-password" onclick="togglePasswordVisibility('password')">
                        <img src="/static/img/eye.png" alt="Toggle Password Visibility" class="eye-icon">
                    </button>
                </div>
            </div>
            
            <div class="input-group">
                <label for="confirm_password">Подтвердите пароль</label>
                <div class="password-container">
                    <input type="password" id="confirm_password" name="confirm_password">
                    <button type="button" class="toggle-password" onclick="togglePasswordVisibility('confirm_password')">
                        <img src="/static/img/eye.png" alt="Toggle Password Visibility" class="eye-icon">
                    </button>
                </div>
            </div>
            
    
            <button type="submit" class="registration-btn" onclick="submitPassword()">Зарегистрироваться</button>
        </div>
    </div>

    <script>
        function togglePasswordVisibility(id) {
            var input = document.getElementById(id);
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }

        function limitInputLength(input, maxLength) {
            console.log(input.value);
            if (input.value.length > maxLength) {
                input.value = input.value.slice(0, maxLength);
            }
        }
        function submitPassword() {
            const formData = new FormData();
            formData.append("username", document.getElementById("username").value);
            formData.append("password", document.getElementById("password").value);
            formData.append("confirm_password", document.getElementById("confirm_password").value);

            fetch('/register', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(data => {
                if (data === 'OK') {
                    window.location.href = '/account';          
                }
                if (data === 'Логин занят') {
                    alert('Имя пользователя уже занято');
                }
                if (data === 'Пароли не совпадают') {
                    alert('Пароли не совпадают');
                }
                // else {
                //     alert('Пароли не совпадают');
                // }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>