<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="/static/admin_panel.css">
</head>
<body>
    <!-- admin navigation bar -->
    <nav class="admin-navbar">
        <ul>
            <li><a href="/admin_panel">Домой</a></li>
            <li><a href="/admin_panel/logs">Логи</a></li>
            <li><a href="/admin_panel/requests">Запросы</a></li>
            <li><a href="/admin_panel/community">Модерация</a></li>
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Производительность сервера</h1>
        <div class="chart-container">
            <canvas id="basechart" width="400" height="200"></canvas>
    </div>

    <!-- help button -->
    <a href="https://github.com/BUSH222/mirea-hack/blob/main/README.md" class="help-widget" aria-label="Help">
        ?
    </a>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/admin_panel.js"></script>
</body>
</html>
