<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/create_profile.css">
</head>
<body>
    <!-- admin navigation bar -->
    <nav class="admin-navbar">
        <ul>
            <li><a href="/admin_panel">Домой</a></li>
            <li><a href="/admin_panel/logs">Логи</a></li>
            <li><a href="/admin_panel/requests">Запросы</a></li>
            <li><a href="/admin_panel/community">Модерация</a></li>
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1 class="mt-5">Создать профиль</h1>
        <form id="BRUH">
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="isAdmin">Является админом</label>
                <select class="form-control" id="isAdmin" name="isAdmin">
                    <option value="False">Нет</option>
                    <option value="True">Да</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" >Создать</button>
        </form>
    </div>
    <script>
        document.getElementById("BRUH").addEventListener("submit", function(event){
            event.preventDefault()
            const formData = new FormData();
            formData.append("name", document.getElementById("name").value);
            formData.append("password", document.getElementById("password").value);
            formData.append("isAdmin", document.getElementById("isAdmin").value);

            fetch('/admin_panel/community/create_profile', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(data => {
                alert(data)
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
